@import './assets/css/inicio.css';
@import './assets/css/time-line.css';
@import './assets/css/form.css';

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

